<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- The following enables bridging a TCP presentation into a multicast group for the purpose of
    integration with the CXP ArchiveServer.  The bridge can run either on a TCPServer (Instructor), 
    or on a TCPClient, specifically a client in the Public Display role. -->
    <!--
    <add key="UW.ClassroomPresenter.Network.TCP.TCPClient.EnableBridge" value="false"/>
    <add key="UW.ClassroomPresenter.Network.TCP.ClientUnicastToMulticastBridge.MulticastAddress" value="234.3.1.1"/>
    <add key="UW.ClassroomPresenter.Network.TCP.TCPServer.EnableBridge" value="false"/>
    <add key="UW.ClassroomPresenter.Network.TCP.UnicastToMulticastBridge.MulticastAddress" value="234.3.1.1"/> 
    <add key="UW.ClassroomPresenter.UICulture" value="zh-CN"/>
    <add key="UW.ClassroomPresenter.UICulture" value="pt-BR"/>
    -->
    <!-- The default TCPListenPort is 5664.  Change it here as needed. -->
    <add key="UW.ClassroomPresenter.Network.TCP.TCPServer.TCPListenPort" value="5664"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
