BODY {
	MARGIN-TOP: 10px; FONT-WEIGHT: 400; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "Arial"; BACKGROUND-COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 28px; COLOR: #000000; FONT-FAMILY: "Arial"
}
H2 {
	FONT-WEIGHT: 600; FONT-SIZE: 20px; COLOR: #000000; FONT-FAMILY: "Arial"
}
H3 {
	FONT-WEIGHT: 600; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: "Arial"
}
A {
	FONT-WEIGHT: 400; FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: "Arial"; TEXT-DECORATION: underline
}
LI {
	FONT-WEIGHT: 400; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: "Arial"
}
IMG {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: black; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: black; BORDER-TOP-COLOR: black; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: black
}
